<!-- footer -->
<div th:fragment="footer">
	<footer class="bg-dark">
		<section class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6">
						<h4>О нас</h4>
						<p>
							Какая-то информация
						</p>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<h4>Контактная информация</h4>
						<ul class="list-unstyled">
							<li><a href="tel:79850990603">Тел.: +7 (985) 099-06-03</a></li>
							<li><a href="mailto:n.n.khatunitsky@mail.ru">E-mail: n.n.khatunitsky@mail.ru</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<h4>Автор</h4>
						<p>
							Хатуницкий Николай
						</p>
					</div>
				</div>
			</div>
		</section>
	</footer>
</div>
