<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" th:href="@{css/styleMain.css}">
	<div th:insert="~{fragment/link :: link}"></div>
</head>
<body style="background-color: #fafafc">
<!-- navbar -->
<div th:insert="~{fragment/navbar :: navbar}"></div>

<!-- main -->
<div class="container">
	<div class="main">
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, consequuntur culpa, cumque dolores
			error laboriosam libero molestiae necessitatibus neque provident quidem recusandae repudiandae rerum
			sapiente velit vero voluptate voluptatibus! Facilis.
		</div>
		<div>Cupiditate error fuga nam nobis nostrum porro reiciendis ut? Earum libero nam nobis quas, qui reiciendis
			vero. Aspernatur dolorem, explicabo facere hic, ipsam neque quae quas quasi qui recusandae, temporibus?
		</div>
		<div>Accusantium alias aperiam commodi deleniti dolor dolores ducimus enim illo illum impedit in ipsam ipsum
			iusto labore, magni nam necessitatibus nobis placeat possimus quibusdam quis quos recusandae, repellendus,
			rerum ut!
		</div>
		<div>Accusantium, ad adipisci aliquam aperiam aut beatae blanditiis consequatur eaque eius est fugit id illo
			incidunt magni mollitia quas quidem, quo ratione recusandae reiciendis saepe sapiente sed sint, vel
			voluptatum!
		</div>
		<div>Alias asperiores ducimus harum hic, iusto natus nisi nobis nostrum perferendis praesentium quo repellat
			tempora veniam? Aperiam atque enim error ipsum libero molestiae natus necessitatibus obcaecati officiis,
			perferendis rem sit.
		</div>
		<div>Architecto dignissimos dolor illum natus numquam, officia omnis praesentium saepe vero voluptatibus.
			Aperiam quas quasi quis saepe totam vitae? Debitis deserunt eligendi est eum itaque iusto numquam porro
			repudiandae voluptatem?
		</div>
		<div>Distinctio incidunt non temporibus vel vero? Ad expedita iusto necessitatibus nulla officia quidem rerum
			sequi suscipit. Doloribus eos eveniet fugiat nisi numquam ullam, unde! Commodi eaque nisi nostrum quas
			temporibus!
		</div>
		<div>Cum dolore eaque et hic in molestiae optio praesentium repellat. Animi at blanditiis, dicta eos et facilis
			laudantium, maiores maxime molestiae nam nulla numquam omnis, praesentium qui ratione rerum voluptas!
		</div>
		<div>Exercitationem in ipsa maxime optio. Magni nemo quisquam sequi vitae? Animi architecto consequatur
			exercitationem fuga odit officia, omnis porro qui tempore! A aperiam blanditiis eaque enim maiores
			necessitatibus nulla sapiente.
		</div>
		<div>Cumque facere, iste maxime necessitatibus nemo odio quo. Deserunt, sed voluptatum. Ad culpa repellat
			sapiente temporibus! Ad aut dolores ducimus libero minus officiis unde? Ad consectetur labore quam
			repudiandae vitae!
		</div>
	</div>
</div>
<!-- footer -->
<div th:insert="~{fragment/footer :: footer}"></div>

</body>
</html>